.contorno{ 
    left: 50%;
    right: 50%;
    transform: translateX(-50%, -50%);
    text-align: center;
    border: 10px solid black;
}

.body {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#formulario{
    display: grid;
    width: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}



