<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='/style_list.css')}}" rel="stylesheet" >
    <title>Citas</title>
</head>
<body>
    <div class="contorno">
    <h1 class="titulo">Detalle de cita</h1>
    <ul class="item_lista">
        <li>
            <strong>Fecha:</strong> 
            {{ cit.fecha }}
        </li>

        <li>
            <img src="{{url_for('static',filename='nombre.png.png')}}" alt="" width="50px" height="50px" class="nombre">
            <strong>Paciente:</strong> 
            {{ cit.paciente_id }}
        </li>

        <li>
            <img src="{{url_for('static',filename='medico.png')}}" alt="" width="50px" height="50px" class="medico">
            <strong>Medico:</strong> 
            {{ cit.medico_id }}
        </li>

        <li>
            <img src="{{url_for('static',filename='consultorio.png')}}" alt="" width="50px" height="50px" class="consultorio">
            <strong>Consultorio:</strong>
             {{ cit.consultorio_id }}
            </li>

        <li>
            <strong>Valor:</strong>
             {{ cit.valor }}
            </li>
    </ul>
    </div>
</body>
</html>