<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de citas</title>
    <link href="{{url_for('static',filename='/style_table.css')}}" rel="stylesheet" >
</head>
<body>
    <div class ="contorno">
        <div class="titulo">
        <h1 class="text_titulo"> Lista de citas</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        </div>
    <div class="contenido">
    <table class="tabla">
        <thead>
            <tr>
                <th class="encabezado">Fecha</th>
                <th class="encabezado">Paciente</th>
                <th class="encabezado">Medico</th>
                <th class="encabezado">Consultorio</th>
                <th class="encabezado">Valor</th>
                <th class="encabezado">Ver detalles</th>
                <th class="encabezado">Actualizar</th>
                <th class="encabezado">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr>
                    <td class="con_tabla"> {{ cita.fecha }} </td>
                    <td class="con_tabla"> {{ cita.paciente_id }} </td>
                    <td class="con_tabla"> {{ cita.medico_id }} </td>
                    <td class="con_tabla"> {{ cita.consultorio_id }} </td>
                    <td class="con_tabla"> {{ cita.valor }} </td>
                    <td class="con_tabla">
                        <a href="/citas/{{ cita.id }}">
                            <img src="{{url_for('static',filename='detalles.png')}} "alt=""  width="25px" height="25px" class="detalles">
                            Ver Detalles
                        </a>
                    </td>
                    <td class="con_tabla">
                        <a href="/citas/update/{{ cita.id }}">
                            <img src="{{url_for('static',filename='actualizar.png')}} "alt=""  width="25px" height="25px" class="actializar">
                            Actualizar
                        </a>
                    </td>
                    <td class="con_tabla">
                        <a href="/citas/delete/{{ cita.id }}">
                            <img src="{{url_for('static',filename='basura.png')}} "alt=""  width="25px" height="25px" class="basura">
                            Eliminar
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="con_tabla" colspan="9">
                    <a href="{{ url_for('create_cita') }}" class="link"><!--VINCULAR MEDIANTE URL SIN ROUTE-->
                        Crear Nuevo
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
</div>
</body>
 </html>