<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='/style.css')}}" rel="stylesheet">
    <title>Document</title>

</head>
<body>
    <div class="contorno">
    <h1>nueva cita</h1>
    <form method="post" action="">
        <p>Fecha: 
            <input type="datetime-local" name="fe">
        </p>
        <p>
            <img src="{{url_for('static',filename='nombre.png.png')}}" alt="" width="50px" height="50px" class="nombre">
            paciente:
            <select name="pa">
                {% for paciente in pacientes %}
                    <option> {{ paciente.nombre }} {{paciente.apellido}} </option>
                {% endfor %}
            </select>
        </p>
        <p>
            <img src="{{url_for('static',filename='medico.png')}}" alt="" width="50px" height="50px" class="medico">
            medico:
            <select name="med">
                {% for medico in medicos %}
                    <option> {{ medico.nombre }} {{medico.apellido}} </option>
                {% endfor %}
            </select>
        </p>
        <p>
            <img src="{{url_for('static',filename='consultorio.png')}}" alt="" width="50px" height="50px" class="consultorio">
            consultorio:
            <select name="con">
                {% for consultorio in consultorios %}
                    <option> {{ consultorio.numero }}  </option>
                {% endfor %}
            </select>
        </p>
        <p>Valor:
            <select name="val" class="form-select">
                {% for valor in valores %}
                    <option>{{ valor }}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">Crear</button>
    </form>
</div>
</body>
</html>    