<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista consultorios</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/style_table.css')}}">
</head>
<body><!--Consultorios-->
<div class="contorno_consultorios">
    <div class="titulo">
        <h1 class="text_titulo">Lista Consultorios</h1>
    </div>
    <div class="contenido">
        <table class="tabla">
            <thead>
                <tr>    
                    <th class="encabezado">Numero</th>
                    <th class="encabezado">Ver detalles</th>
                    <th class="encabezado">Actualizar</th>
                    <th class="encabezado">Eliminar</th>
                </tr>
            </thead>

            <tbody>
                {% for consultorio in consultorios %}
                    <tr>
                        <td class="con_tabla">{{consultorio.numero}}</td>
                        <td class="con_tabla">
                            <a href="/consultorios/{{consultorio.id}}" class="link">
                                <img src="{{url_for('static',filename='Detalles.png')}}" alt="" width="25px" height="20px" class="detalles">
                                Ver Detalles
                            </a>
                        </td>
                        <td class="con_tabla">
                            <a href="/consultorios/update/{{consultorio.id}}" class="link">
                                <img src="{{url_for('static',filename='Actualizar.png')}}" alt="" width="20px" height="20px" class="actualizar">
                                Actualizar
                            </a>
                        </td>
                        <td class="con_tabla">
                            <a href="/consultorios/delete/{{consultorio.id}}" class="link">
                                <img src="{{url_for('static',filename='Basura.png')}}" alt="" width="20px" height="20px" class="basura">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td class="con_tabla" colspan="9">
                            <a href="{{ url_for('create_consultorio') }}" class="link"><!--VINCULAR MEDIANTE URL SIN ROUTE-->
                        
                                Crear Nuevo
                            </a>
                        </td>
                    </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
</body>
</html>