<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='/style_list.css')}}" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
<div class="contorno_cons">
    <h1 class="titulo">Detalle de consultorio</h1>
    <ul class="item_lista">
        <li>
            <img src="{{url_for('static',filename='numero.png.png')}}" alt="" width="50px" height="50px" class="numero">
            <strong>Consultorio:</strong> 
            {{ con.numero }}
        </li>
    </ul>
</div>
</body>
</html>