<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Medicos</title>
    <link href="{{url_for('static',filename='/style_table.css')}}" rel="stylesheet" >
</head>
<body>
<div class="contorno">
    <div class="titulo">
    <h1 class="text_titulo"> Lista de Medicos </h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    </div>
    <div class="contenido">
        <table class="tabla">
        <thead>
            <tr>
                <th class="encabezado">Nombre</th>
                <th class="encabezado">Apellidos</th>
                <th class="encabezado">Tipo de identificación</th>
                <th class="encabezado">numero de identificación</th>
                <th class="encabezado">numero de registro|</th>
                <th class="encabezado">especialidad</th>
                <th class="encabezado">Ver detalles</th>
                <th class="encabezado">Actualizar</th>
                <th class="encabezado">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
                <tr>
                    <td class="con_tabla"> {{ medico.nombre }} </td>
                    <td class="con_tabla"> {{ medico.apellido }} </td>
                    <td class="con_tabla"> {{ medico.tipo_identificacion }} </td>
                    <td class="con_tabla"> {{ medico.numero_identificacion }} </td>
                    <td class="con_tabla"> {{ medico.registro_medico }} </td>
                    <td class="con_tabla"> {{ medico.especialidad }} </td>
                    <td class="con_tabla">
                        <a href="/medicos/{{ medico.id }}">
                            <img src="{{url_for('static',filename='detalles.png')}} "alt=""  width="25px" height="25px" class="detalles">
                            Ver Detalles
                        </a>
                    </td>
                    <td>
                        <a href="/medicos/update/{{ medico.id }}">
                            <img src="{{url_for('static',filename='actualizar.png')}} "alt=""  width="25px" height="25px" class="actializar">
                            Actualizar
                        </a>
                    </td>

                    <td>
                        <a href="/medicos/delete/{{ medico.id }}">
                            <img src="{{url_for('static',filename='basura.png')}} "alt=""  width="25px" height="25px" class="basura">
                            Eliminar
                        </a>
                    </td>

                </tr>
                {% endfor %}
                <tr>
                    <td class="con_tabla" colspan="9">
                        <a href="{{ url_for('create_medico') }}" class="link"><!--VINCULAR MEDIANTE URL SIN ROUTE-->
                            Crear Nuevo
                        </a>
                    </td>
                </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
</div>
</body>
 </html>