<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='/style_list.css')}}" rel="stylesheet" >
    <title>Medico</title>
</head>
<body>
<div class="contorno">
    <h1 class="titulo">Detalle de medico</h1>
    <ul class="item_lista">
        <li>
            <img src="{{url_for('static',filename='nombre.png.png')}} "alt=""  width="50px" height="50px" class="nombre">
            <strong>Nombre:</strong> 
            {{ med.nombre }}
        </li>
        

        <li>
            <img src="{{url_for('static',filename='apellido.png.png')}} "alt=""  width="50px" height="50px" class="apellido">
            <strong>Apellido:</strong> 
            {{ med.apellido }}
        </li>
        
        <li>
            <img src="{{url_for('static',filename='identificacion.png.png')}} "alt=""  width="50px" height="50px" class="identificacion">
            <strong>Tipo de identificación:</strong>
             {{ med.tipo_identificacion }}
            </li>
        
        <li>
            <img src="{{url_for('static',filename='numero.png.png')}} "alt=""  width="50px" height="50px" class="numero">
            <strong>Numero de identificación:</strong> 
            {{ med.numero_identificacion }}
        </li>
        
        <li>
            <img src="{{url_for('static',filename='registro.png.png')}} "alt=""  width="50px" height="50px" class="registro">
            <strong>Registro medico:</strong>
            {{ med.registro_medico }}
            </li>
        
        <li>
            <img src="{{url_for('static',filename='especialidad.png.png')}} "alt=""  width="50px" height="50px" class="especialidad">
            <strong>Especialidad:</strong>
             {{ med.especialidad }}
            </li>
    </ul>
</div>
</body>
</html>