<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='/style.css')}}" rel="stylesheet" >

    <title>Document</title>
</head>
<body>
<div class="contorno">
    <h1 class="titulo"> Nuevo Medico </h1>
    <form method="post" action="">
   
        <p>
            <img src="{{url_for('static',filename='nombre.png.png')}} "alt=""  width="50px" height="50px" class="nombre">
             Nombre: <input type="text" class="form-control" placeholder="Nombre" name="nombre"/></p> 
        <p> 
            <img src="{{url_for('static',filename='apellido.png.png')}} "alt=""  width="50px" height="50px" class="apellidos">
            Apellidos: <input type="text" class="form-control" placeholder="Apellidos" name="apellidos"/></p>
    
        <p> 
            <div class="custom_select">
            <img src="{{url_for('static',filename='identificacion.png.png')}} "alt=""  width="50px" height="50px" class="identificacion">
            tipo de identificacion:
                <select id="inputState" class="form-select" name="ti">
                  <strong>Seleccion</strong>
                  <option>TI</option>
                  <option>CC</option>
                </select>
              </div>
        </p>    

        <p> 
            <img src="{{url_for('static',filename='numero.png.png')}} "alt=""  width="50px" height="50px" class="identificacion"> 
            Numero de identificacion:
            <input type="text" name="ni" class="form-control" placeholder="Numero de identificacion" />
        </p>

        <p>
            <img src="{{url_for('static',filename='registro.png.png')}} "alt=""  width="50px" height="50px" class="numero">
            registro medico:
            <input type="text" name="rm" class="form-control" placeholder="Registro medico"  />
        </p>
    
        <p>
            <div class="costom_select">
            <img src="{{url_for('static',filename='especialidad.png.png')}} "alt=""  width="50px" height="50px" class="especialidad">
            Especialidad:
            <select name="es" class="form-select">
                {% for especialidad in especialidades %}
                    <option>{{ especialidad }}</option>
                {% endfor %}
            </select>
            </div>
        </p>
        <div class="crear">
            <button type="submit">
                <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="24"
                        height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                fill="currentColor"
                                d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                            </path>
                        </svg>
                    </div>
                </div>
    
               <samp>Crear</samp>
        </button>
    </div>
    </form>
</div>
</body>
</html>