<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pacientes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1>Lista de Pacientes</h1>
        {% with messages = get_flashed_messages() %}
             {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
             {% endif %}
        {% endwith %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>tipo_identificacion</th>
                    <th>numero_identificacion</th>
                    <th>altura</th>
                    <th>tipo_sangre</th>
                    <th>ver detalles</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </tehead>
            <tbody>
                {%for paciente in pacientes %}
                   <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellidos }}</td>
                    <td>{{ paciente.tipo_identificacion }}</td>
                    <td>{{ paciente.numero_identificacion }}</td>
                    <td>{{ paciente.altura }}</td>
                    <td>{{ paciente.tipo_sangre }}</td>
                    <td>
                        <a href="/pacientes/{{ paciente.id }}">
                           ver detalles
                        </a>
                    </td>
                    <td>
                        <a href="/pacientes/update/{{ paciente.id }}">
                           Actualizar
                        </a>
                    </td>
                    <td>
                        <a href="/pacientes/delete/{{ paciente.id }}">
                           Eliminar
                        </a>
                    </td>
                   </tr> 
                {%endfor%}
                <tr>
                    <td class="con_tabla" colspan="9">
                        <a href="{{ url_for('create_medico') }}" class="link"><!--VINCULAR MEDIANTE URL SIN ROUTE-->
                            Crear Nuevo
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        <script src="" async defer></script>
    </body>
    
</html>