<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='/style_update.css')}}">
        <title>Actualizar Paciente</title>
    </head>
    <body>
        <div class="contorno">
        <h1 class="titulo"> Actualizar Paciente </h1>
        <div>
        <form method="post" action="/pacientes/update/{{paciente_update.id}}" id="formulario" >
            <p>
                <img src="{{url_for('static',filename='nombre.png.png')}}" alt="" width="50px" height="50px" class="nombre">
                Nombre: <input type="text" class="form-control" name="nombre" value="{{paciente_update.nombre}}" /> </p>
            <p>
                <img src="{{url_for('static',filename='apellido.png.png')}}" alt="" width="50px" height="50px" class="apellido">
                Apellidos: 
                <input type="text" class="form-control" name="apellidos" value="{{paciente_update.apellidos}}" /> </p>
            <p>
                <div class ="custom_select">
                    <img src="{{url_for('static',filename='identificacion.png.png')}}" alt="" width="50px" height="50px" class="identificacion">
                Tipo_identificacion: 
                <select class="form-control" name="ti"> 
                    <option {%if paciente_update.tipo_identificacion == "TI" %}
                      selected
                    {% endif %}
                    >
                        TI
                    </option>
                    <option {%if paciente_update.tipo_identificacion == "CC" %}
                    selected
                  {% endif %}>
                        CC
                </option>
                 </select>
                </div>
                 </p>
            <p>
                <img src="{{url_for('static',filename='numero.png.png')}}" alt="" width="50px" height="50px" class="numero">
                Numero identificacion: <input type="text" class="form-control" name="ni" 
                value="{{paciente_update.numero_identificacion }}"/> </p>
            <p> 
                <img src="{{url_for('static',filename='altura.png')}}" alt="" width="50px" height="50px" class="altura">
                Altura: <input type="text" class="form-control" name="al" value="{{paciente_update.altura }}"/> </p>
            <p>
                <div class="custom_select">
                    <img src="{{url_for('static',filename='sangre.png')}}" alt="" width="50px" height="50px" class="sangre">
                Tipo_sangre:
                <select name="ts"> 
                    {% for tipo_sangre in tipo_sangre %}
                           <option {%if paciente_update.tipo_sangre == tipo_sangre %}
                           selected
                           {%endif%}> {{ tipo_sangre }}</option>
                    {% endfor%}
                </select>
            </div>
            </p>
            <div class="actualizar">
                <button type="submit">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                    fill="currentColor"
                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span>Actualizar</span>
                </button>
            </div>
        </form>
    </div>
</div>
    </body>
</html>