<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pacientes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static',filename='/style_table.css')}}" rel="stylesheet" >
    </head>
    <body>
        <div class="contorno_pacientes">
            <div class="titulo">
        <h1 class="">Lista de Pacientes</h1>
            </div>
            <div class="contenido">
                <table class="table">

            <thead>
                <tr>
                    <th class="encabezado">Nombre</th>
                    <th class="encabezado">Apellidos</th>
                    <th class="encabezado">tipo identificacion</th>
                    <th class="encabezado">numero identificacion</th>
                    <th class="encabezado">altura</th>
                    <th class="encabezado">tipo sangre</th>
                    <th class="encabezado">ver detalles</th>
                    <th class="encabezado">Actualizar</th>
                    <th class="encabezado">Eliminar</th>
                </tr>
            </tehead>
            <tbody>
                {%for paciente in pacientes %}
                   <tr>
                    <td class="con_tabla">{{ paciente.nombre }}</td>
                    <td class="con_tabla">{{ paciente.apellidos }}</td>
                    <td class="con_tabla">{{ paciente.tipo_identificacion }}</td>
                    <td class="con_tabla">{{ paciente.numero_identificacion }}</td>
                    <td class="con_tabla">{{ paciente.altura }}</td>
                    <td class="con_tabla">{{ paciente.tipo_sangre }}</td>
                    <td class="con_tabla">
                        <a href="/pacientes/{{ paciente.id }}">
                            <img src="{{url_for('static',filename='detalles.png')}} "alt=""  width="25px" height="25px" class="detalles">
                           ver detalles
                        </a>
                    </td>
                    <td class="con_tabla">
                        <a href="/pacientes/update/{{ paciente.id }}">
                            <img src="{{url_for('static',filename='actualizar.png')}} "alt=""  width="25px" height="25px" class="actializar">
                           Actualizar
                        </a>
                    </td>
                    <td class="con_tabla">
                        <a href="/pacientes/delete/{{ paciente.id }}">
                            <img src="{{url_for('static',filename='basura.png')}} "alt=""  width="25px" height="25px" class="basura">
                           Eliminar
                        </a>
                    </td>
                   </tr> 
                {%endfor%}
                <tr>
                    <td class="con_tabla" colspan="9">
                        <a href="{{ url_for('create_paciente') }}" class="link"><!--VINCULAR MEDIANTE URL SIN ROUTE-->
                            Crear Nuevo
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
    </body>
    
</html>